*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #E3E7E8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FBCEB1;
    color: #fff;
    padding: 10px;
    z-index: 100;
}

label{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #EADDCA;
    transition: .5s;
}

header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
    height: 25px;
}

.total{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.bgimg{
    width: 100%;
    position: relative;
    height: 100vh;
    background-image: url(image/bgpicture.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bgimg::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#nav{
    transition: top 0.5s ease-in-out;
}

.content h2{
    font-size: 100px;
    color: white;
    margin-bottom: 20px;
    color: #FBCEB1
}

.content h2 span{
    color: #EADDCA;
}

.content p{
    font-size: 20px;
    color: white;
    opacity: 0.8;
}

.container{
    display: flex;
    align-items: center;
}

.first-pic{
    width: 350px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
    margin-left: 75px;
    border-radius: 50px;
}

.first-pic-par{
    padding: 0 1px;
    font-size: 30px;
    float: right;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 100px;
}

.second-pic{
    width: 350px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
    border-radius: 50px;
    margin-right: 150px;
}

.second-pic-par{
    padding: 0 1px;
    font-size: 30px;
    margin-left: 200px;
    margin-right: 75px;
    margin-top: 200px;
}

.third-pic{
    width: 350px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
    margin-left: 75px;
    border-radius: 50px;
}

.third-pic-par{
    padding: 0 1px;
    font-size: 30px;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 200px;
}